/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/09/2017, 07:11:07
    Author     : danilomuniz
*/

/* reset */
::-moz-selection {background: #999;} /*cor de seleção de texto firefox */
::selection {background: #999;} /*cor de seleção de texto */
input[type="text"] {border: 1px solid #ddd;}

#esconder-input select{
    display:none;
}

input, select,textarea{
    color:#767676 !important;
}

/* **********TELA DE LOGIN ************* */

.login-body {background: #ccc;}
.form-signin h2.form-signin-heading {background: #34495e; border-bottom:10px solid #476888;}
.registration {color: #666;}
.form-signin .btn-login {background: #476888; font-weight: 500;}
.form-signin a, .form-signin a:hover {color: #34495e;}
.form-signin .checkbox {color: #666;}
.form-signin input[type="text"], .form-signin input[type="password"] {border: 1px solid #ddd;}



/* *********** CORES DO TEMA ********** */

/*imagem do logo dashboard padrao*/
.img-logo{    width: 80%;    }

.brand { background:#34495E; }

.sidebar-toggle-box {
    background-color: #476888; 
    color: #FFF;
}
.sidebar-toggle-box .fa-bars {
    cursor:pointer;
    display:inline-block;
    font-size:15px;
    padding:8px 8px 8px 9px;
    color: #fff;
}
.sidebar-toggle-box:hover{ 
	background: #F6F6F6; 
	color: #000;  
}
.sidebar-toggle-box .fa-bars:hover:before{ color: #000; }

/* ******menu ****** */
ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {color: #429ecc;}
ul.sidebar-menu li a:hover i, ul.sidebar-menu li a.active i {color: #429ecc;} /*icone*/
ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li a:focus  {color: #429ecc;} /*submenu*/
ul.sidebar-menu li a.active i, ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {color: #429ecc;}

/*menu da header*/
ul.top-menu > li > a:hover {background: #b7d2ea;}

/*logout*/
.dropdown-menu.extended.logout>li>a i:hover {color: #429ecc;}
.dropdown-menu.extended.logout li a:hover {color:#429ecc;}
.dropdown-menu.extended.logout>li>a:hover i {color: #429ecc;}

/*multiselect*/
.select2-container-multi .select2-choices {border-radius: 4px; border:1px solid #ddd !important; height: auto;}
