/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/01/2018, 10:32:55
    Author     : joao.neto
*/

/* Esconde o input */
input[type='file'] {
  display: none
}

/* Aparência que terá o seletor de arquivo */
.label-input-file {
  background-color: #3498db;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  padding: 6px 20px;
  margin-left:0px !important;
}

.show-details {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    word-break: break-all;
}

#tabela-historico-alocacao td.largo, #tabela-historico-crc td.largo{
    width:400px !important;
}

#tabela-historico-alocacao td.medio, #tabela-historico-crc td.medio{
    width:200px !important;
}

#tabela-historico-alocacao td.pequeno, #tabela-historico-crc td.pequeno{
    width:100px !important;
}

#tabela-historico-alocacao td.minimo, #tabela-historico-crc td.minimo{
    width:20px !important;
}