/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/09/2017, 09:17:33
    Author     : danilomuniz
*/


.btn-voltar-grafico{
    position: absolute;
    float: right;
    z-index: 100;
    top: 1%;
/*    left: 40;    */
}
/* :not(.titulo-descricao) , thead td:nth-child(9)*/
.descricao:not(.titulo-descricao){
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    word-break: break-all;
    display: block;
    width: 334px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    
    border: 0px !important
}

#tabela-chamados td{
    width: 25em;
}

.one-line{
    overflow: hidden;
    white-space: nowrap;    
}

/*#tabela-chamados td.configuracao{
    width: 5em;
}*/