
body{
	margin:0;
	padding:0;
	font-family: 'Muli', sans-serif;
    cursor:default;
}

.gerar-pacote{
    background: #999;
}

.estilo-button-pacote{
    border-radius: 10px;
    border: none;
    color: white !important;
    background-color: #005d94;
    font-size: 25px;
    cursor:pointer; 
}

.estilo-button-pacote::hover{
    transition:.5s;
    background-color:#034b75;
}

.nome-pacote, .nome-versao-reversao, .nome-versao-banco{
    border: none !important;
    border-left: 1px solid #0e0e0e4f !important;
    font-size: 20px;
    height: 37px;
    background-color: #ff000000;
}


.rodape #texto{
    color: white;
    font-size: 25px;
    margin: 1.2%;
    float: left;
    width: 13%;
    height: 5%;	
}

#check{
    width: 20px;
    height: 20px;
    margin-top: 9px;
    float: right;	
    margin-left: 10px;
}

.topo #logo{
    height: 60%;
    float: left;
    margin: 10px;
}

/* Esconde o input */
input[type='file'] {
  display: none;
}

/* Aparência que terá o seletor de arquivo */
label {
    color: white;
    border-radius: 10px;
    border: none;
    background-color: #005d94;
    font-size: 25px;
    cursor: pointer;
    text-align: center;   
}

label:hover{
	transition:1s;
	background-color:#034b75;	
}

.style-input-repo {
    margin-left:1% !important;
    height: 47px !important;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 20px;
    background-color: #fff;
}

.style-btn-tortoise{
    font-size: 45px;
    color: #0000009c;
    cursor: pointer;
}

.style-btn-tortoise:hover{
    transition: .5s;
    color: #777777;
}

#urlRepo .carregando-file{
    color: white; 
}

.trash-style{
    text-align: right; 
    height: 50px; 
    padding: 10px;    
}

.conteudo #titulo{
    text-align: center;
    font-size: 30px;
    color: black;
}

.box-filename{
    margin-top: 10px;
}
.box-filename i{
    float:right;
    margin-left: 10px;
}
.conteudo .style-div-banco{
    background-color: rgba(255, 255, 255, 0.77);
    border-radius:10px; 
    font-size:11px;
}

.conteudo .style-div-banco #titulo-banco{
    text-align: center;
    font-size: 20px;
    color: #000000ad;    
}

.conteudo .style-div-banco .subpastas{
    background-color: rgba(0, 0, 0, 0.18);
    border-radius: 10px; 
    overflow-x: hidden;
    height:40em !important;
}

.conteudo .item-arquivo{
    width: 94%;
    float: left;
    background-color: white;
    margin: 5px 5px 5px 5px;
    display: block;
    border-radius: 5px;  
    text-align:left;
    padding-left: 12px;
    -webkit-box-shadow: 10px 10px 41px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 41px -20px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 41px -20px rgba(0,0,0,0.75);
}
.item-arquivo span{
    font-size: 9pt;
}
.conteudo  .item-arquivo .titulo{
    width:100%;
    height:55%;
    float:left;
    text-align: center;
    font-size: 8px;
}

.conteudo  .item-arquivo .rodape-item-arquivo{
    width:100%;
    float:left;
    border-top:1px solid rgba(169, 169, 169, 0.21);
}
.rodape-item-arquivo span{
    width: 80%;
}
.rodape-item-arquivo a{
    text-align: center;
    float: right;
    margin-right: 10px;
}

.fa-exchange:before {
    cursor:pointer;
    color:black;
    text-decoration:none;
}

.fa-trash-o:before{
    cursor:pointer;
    color:black;
    text-decoration:none;
}

.fa-file-code-o:before{
    cursor:pointer;
    color:black;
    text-decoration:none;    
}

.link{
    text-decoration:none;   
}

.alert-mudar{
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.95);
    float: left;
    position: absolute;
    z-index: 9999;
    margin-left: 25%;
    margin-top: 2%;
    border-radius: 10px;
}

.alert-mudar .topo-mudar{
    width: 100%;
    float: left;
    height: 10%;
    border-bottom: 1px solid darkgrey;    
}

.alert-mudar .topo-mudar #fechar{
    float: right;
    margin: 10px;
    cursor:pointer;
}

.alert-mudar .topo-mudar #titulo{
    float: left;
    margin: 10px;
}

.alert-mudar .conteudo form{
    float: left;
    margin: 20px;
}

.alert-mudar .conteudo font{
    float: left;
    /* background-color: red; */
    margin: 2px;
    width: 50%;
}

.alert-mudar .conteudo font input{
    float: right;
}

.alert-mudar .conteudo #submit{
    float: left;
    margin: 1%;
    width: 50%;
    /* height: 60%; */
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #f68627;
    font-size: 25px;
    cursor: pointer;
    margin-top: 5%;
}

.conteudo #listar-arquivo-dba{
    height:60%;
    float:left;
    overflow-x: hidden;
}

.conteudo #listar-arquivo-scripts-dba{
    height: 39%;
    float: left;
    border-top: 1px solid white;
    overflow-x: hidden;
}
.conteudo #subtitulo-dbamdata{
    width: 100%;
    height: 15%;
    color: #fff;
    float: left;
    margin-left:10px;
}

.fa-trash:before {
    cursor: pointer;
}

#menu-top{
    float:right;
}

.icone-duvida-informativo{
    float:right;
    margin: 25px;
    color: #777777;
    cursor:pointer;
}
.icone-duvida-informativo:hover{
    transition:.5s;
    color: #fff;
}


/* 
-- MODAL GERAR PACOTE
---------------------------------
*/

.modal-gerar-pacote{
    display:none;
    z-index: 99999;
    position: absolute;
    background-color: #ffffffb5;
    height: 100%;
    width:100%;
    padding-top:10%;    
}

.modal-gerar-pacote .nome-pacote,
.modal-gerar-pacote .nome-versao-banco, 
.modal-gerar-pacote .nome-versao-reversao, 
.modal-gerar-pacote .estilo-button-pacote, 
.modal-gerar-pacote .titulo, 
.modal-gerar-pacote .observacao{
    width:50%;
    float:left;
    margin-left:25%;
    margin-right:25%;
}

.modal-gerar-pacote .estilo-button-pacote{
    position:relative;
    height: 47px !important;
    width: 51%;    
}

.modal-gerar-pacote .titulo{
    font-size: 20px;
    margin-top: 10px;
    color: #5d5757;    
}

.modal-gerar-pacote .observacao{
    font-size: 15px;
    margin-top: 10px;
    color: #5d5757;        
}

.fechar-modal{
    float: right;
    margin-right: 25%;
    font-size: 30px;
    cursor: pointer;    
}

.modal-carregar-tortoise{
    background-color: #1d1d1d78;
    position: absolute;
    z-index: 99999;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 40px;
}

.modal-carregar-tortoise .texto-modal-carregar-tortoise{
    margin-left: 30%;
    margin-top: 20%;
    float: left;
}