.has-feedback label~.form-control-feedback {
    top: 33px;
}

.has-error .form-control-feedback {
    color: red;
}

.has-success .form-control-feedback {
    color: #4E7CA9;
}

.form-horizontal .inputValidateAddon .form-control-feedback {
    top: 33px;
    right: 50px;
}

.form-horizontal .has-feedback .form-control-feedback {
    top: 4px
}